header {
  background-color: rgb(92, 99, 106);
  height: 900px;
}


.zona_inferior {
  position: relative;
  background-image: url(/pictures/manos.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  padding: 30px 20px;
  z-index: 1;
}

aside  blockquote{
  color: white;
  background: none;       
  border: none;           
  box-shadow: none;       
}


#pie {
  color: white;           
  text-align: center;
  padding: 10px;
  font-size: 19px;
  background: none;
}
#columna h3{
    background: none;
    color: white;
}

#columna {
  color: rgb(11, 11, 11);
}

.zona_inferior {
  background-image: url(/pictures/manos.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 30px 20px;
  text-align: center;
  color: white;
  position: relative;
  z-index: 1;
}


body {
  background-color: #202024;
}

